<%- include('header') %>



<form method="GET" action="/cotacao">

    <input name="cotacao" placeholder="Cotação !" autocomplete="off" pattern="[0-9]+([\.,][0-9]+)?" required
        onchange="this.value = this.value.replace(/,/g, '.')"><br>

    <input name="quantidade" placeholder="Quantidade desejada!" autocomplete="off" pattern="[0-9]+([\.,][0-9]+)?"
        required onchange="this.value = this.value.replace(/,/g, '.')"> <br>


    <button>Converter!</button><br>
</form>




<%- include('footer') %>